<div class="card" style="width:80%;margin-left:auto;margin-right:auto;">

  <%= image_tag @pin.image.url(:original), class: "card-img-top" %>
  
	<div class="card-body">
    <p class="card-text"><%= @pin.description %></p>
    <p><strong><%= @pin.user.name if @pin.user %></strong></p>
  </div>	<!--cardbody-->

	<div class="card-footer">
    <% if current_user && (@pin.user == current_user) %>
      <%= link_to edit_pin_path(@pin) do %>
   	    <span><%= octicon "pencil" %> Edit</span> |
      <% end %>
    <% end %>
    <%= link_to 'Back', pins_path %>
  </div>	<!--cardfooter-->
</div>	<!--card-->